#edu-List{
    background-color:teal;
    margin:0px;
    min-width: 100%;
    border: 4px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}


#study-item{
    margin-top: 10px;
    margin-left: 10px;
   border-bottom: 1px solid white;
}