*{
    box-sizing: border-box;
}
.card-link{
    color:darkgray;
    font-weight: bolder;
    font-size: 24px;
}
.card-link:hover{
    color: orangered;
    background-color: transparent;
}
.carousel-control-prev{
    color: orangered;
    font-weight: bold;
    font-size: 24px;
}
.carousel-control-prev:hover{
    background-color: transparent;
    color: orangered;
}
.carousel-control-next{
    color: orangered;
    font-weight: bold;
    font-size: 24px;
}
.carousel-control-next:hover{
    background-color: transparent;
    color: orangered;
}
.card-header{
    text-align: center;
}