.footer{
    left: 0;
    bottom: 0px;
    text-align: center;
    position: relative;
    padding-bottom: 0;   
    background-color: lightslategray;
   
    font-weight: bolder;
   
    border-radius: 50px;
   
}
.name{
    font-size: 20px;
}

@media screen and (max-width:485px) {
    .footer{
        left: 0;
        bottom: 0;
    }
    .footer .contact{
        display: none;
    }
}