#germany-container{
    animation-name: fadeIn;
    animation-duration: 3s ;
    margin: 0 auto;
    min-width: fit-content;
    text-align: center;
    padding: 2px;
}
#germany-container h1{
    border-bottom: 1px solid white;
}