

li{
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.nav-item active{
    background-color: white;
}





a{
    color: white;
}

a:hover{
    color: black;
    background-color: white;
}